{% extends "base.html" %}
{% block content %}
<p>Product image</p>
{{product.image}}<br><br>
<p>Description</p>
{{product.description}}<br><br>
<p>Price</p>
{{product.price//1000}} $<br><br>
<p>Stock: </p>{{product.stock}}
<form method="post">
    <div class="form-group">
        <label for="inputquantity">Quantity</label>
        <input name="quantity" id="inputquantity" placeholder="Number only or error">
    </div>
    <button type="submit" class="btn btn-black">Add To Bag</button>
</form>
<p>Long Product Detail: {{product.detail}}</p>
{% endblock %}

<!--{{url_for('main.category_post', id= cat.id, page=p)}}-->