{% extends "admin/admin_base.html" %}
{% block content %}


{% if products %}
<a href="/admin/products" class="btn btn-default active" role="button">Products</a>
<a href="/admin/products/create" class="btn btn-default " role="button">Create</a>
<br>
<br>
{% endif %}


{% if categories %}
<a href="/admin/categories" class="btn btn-default active" role="button">Categories</a>
<a href="/admin/categories/create" class="btn btn-default " role="button">Create</a>
<br>
<br>
{% endif %}

{% if users %}
<a href="/admin/users" class="btn btn-default active" role="button">Users</a>
<a href="/admin/users/create" class="btn btn-default " role="button">Create</a>
<br>
<br>
{% endif %}

<div class="dashboard">
    <table class="table table-bordered">
        <caption> Admin Control</caption>
        <thead>
        <tr>
            <th>Code</th>
            {% for head in head_list %}
            <th>{{ head }}</th>
            {% endfor %}
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if products %}
        {% for product in products %}
        <tr>
            <th scope="row">{{ product.product_code }}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.category.name}}</td>
            <td><a href="/admin/products/{{product.id}}/delete"> Delete</a>
                <a href="/admin/products/{{product.id}}/edit"> Edit</a></td>
        </tr>
        {% endfor %}
        {% endif %}


        {% if users %}
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td><a href="/admin/users/{{user.id}}/delete"> Delete</a>
                <a href="/admin/users/{{user.id}}/edit"> Edit</a></td>
        </tr>
        {% endfor %}
        {% endif %}


        {% if categories %}
        {% for category in categories %}
        <tr>
            <th scope="row">{{ category.id }}</th>
            <td>{{ category.name.title() }}</td>
            <td><a href="/admin/categories/{{category.id}}/edit">Edit</a>
                <a href="/admin/categories/{{category.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}

        </tbody>
    </table>
</div> <!--end dashboard-->

{% endblock %}