<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: ".tinymce",
        statusbar: false,
        menubar: "",
        toolbar: "preview image media fullscreen",
        plugins: "image preview media fullscreen",
        image_class_list: [
            {title: 'Block', value: 'img-responsive'},
            {title: 'None', value: ''}
        ]
    });

    tinymce.init({
        selector: ".tinymce-main",
        height: 500,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ],
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ],
        image_class_list: [
            {title: 'Block', value: 'img-responsive'},
            {title: 'None', value: ''}
        ]
    });
</script>
{% extends "admin/admin_base.html" %}
{% block content %}


<a href="/admin/posts" class="btn btn-default " role="button">Posts</a>
<a href="/admin/posts/create" class="btn btn-default  active" role="button">Create</a>
<br>
<br>
<div class="dashboard">
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.title(class="form-control" , placeholder="Please Enter Tittle")}}
        </div>

        <div class="form-group">
            {{form.category(class="form-control")}}
        </div>


        <div class="form-group">
            <span class="rmlink">HOME PAGE</span>
            {{form.index_show (class="tinymce", placeholder="Show at home")}}
        </div>


        <div class="form-group">
            <span class="rmlink">DETAIL</span>
            {{form.detail (class="tinymce-main", placeholder= "Readmore")}}
        </div>

        <div class="form-group">
            {{form.submit(class="btn btn-black")}}
            <a class="btn btn-black" role="button" href="/admin">Cancel </a>
        </div>
    </form>
</div>
{% endblock %}