include ../mixins/all
.carousel-banner
  .slider(data-slider)
    +link('abc', 'abc')
      +img('img1', 'images/slideshow_1.jpg')
    +link('abc', 'abc')
      +img('img1', 'images/slideshow_2.jpg')
