include ../mixins/all
header.header.white-bg
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.fa.fa-bars
    a.logo(href='index.html')
      | Flat
      span lab
    .horizontal-menu.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='index.html') Dashboard
        li.active
          a(href='#') Components
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#')
            | UI Element
            b.fa.fa-angle-down
          ul.dropdown-menu
            li
              a(href='general.html') General
            li
              a(href='buttons.html') Buttons
            li
              a(href='widget.html') Widget
            li
              a(href='slider.html') Slider
            li
              a(href='nestable.html') Nestable
            li
              a(href='font_awesome.html') Font Awesome
        li
          a(href='basic_table.html') Tables
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', href='#')
            | Extra
            b.fa.fa-angle-down
          ul.dropdown-menu
            li
              a(href='blank.html') Blank Page
            li
              a(href='boxed_page.html') Boxed Page
            li
              a(href='profile.html') Profile
            li
              a(href='invoice.html') Invoice
            li
              a(href='search_result.html') Search Result
            li
              a(href='404.html') 404 Error Page
            li
              a(href='500.html') 500 Error Page
    .top-nav
      ul.nav.pull-right.top-menu
        li
          input.form-control.search(type='text', placeholder=' Search')
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            img(alt='', src='images/avatar1_small.jpg')
            span.username Jhon Doue
            b.caret
          ul.dropdown-menu.extended.logout
            .log-arrow-up
            li
              a(href='#')
                i.fa.fa-suitcase
                | Profile
            li
              a(href='#')
                i.fa.fa-cog
                |  Settings
            li
              a(href='#')
                i.fa.fa-bell-o
                |  Notification
            li
              a(href='login.html')
                i.fa.fa-key
                |  Log Out
