nav.main-nav {
    background-color: #222222;
    color: #ffffff;
    height: 48px;
    z-index: 600;
}

a {
    color: #858585;
}

body {
    -webkit-font-smoothing: antialiased;
    color: #858585;
    font-family: Crimson Text, Georgia, Times, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    text-rendering: optimizeLegibility;
    margin-top: 70px;
    background-color: #F9F9F9;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.nav-left {
    float: left !important;
}

.nav-right {
    float: right !important;
}

.desktop-nav {
    font-size: 12px;
    display: inline-block;
    height: 100%;
    background-color: #222222;
}

.desktop-nav > li {
    float: left;
    height: 100%;
    line-height: 30px;
    padding: 9px 20px;
}

/*.desktop-nav > li a, .mobile-nav > li a {*/
/*line-height: 30px;*/
/*padding: 9px 20px;*/
/*}*/

nav.main-nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.post {
    width: 100%;
    border: 1px solid #EEEEEE;
    background-color: #ffffff;
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

.text-center {
    text-align: center !important;
}

.post-header h3 a {
    color: #0f0f0f;
    text-decoration: none
}

.post-header h3 {
    margin-bottom: 15px;
    font-size: 3em;
    line-height: 1.4;
    font-family: Prata, Georgia, Times, serif;
}

.post-content {
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    /*font-family: "Open Sans" !important;*/
    font-size: 16px;
    margin-bottom: 40px;
    color: #858585;
}

.footer-item > a, .post-sharing > a {
    text-decoration: none;
    line-height: 32px;
}

.footer-item {
    display: inline-block;
}

.post-footer {
    padding: 35px 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 0px;
}

.excerpt-footer > * {
    font-size: 11px;
    vertical-align: top;
}

.widget {
    border: 1px solid #EEEEEE;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 35px;
    font-size: 12px;
}

.widget-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Crimson Text, Georgia, Times, serif;
}

.widget-header {
    font-size: 17px;
}

.categories li {
    line-height: 1.6;
    padding-bottom: 15px;
}

.form {
    width: 400px;
    margin: 0 auto 0px;
}

.btn-black {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #222222 !important;
    border-color: #222222 !important;
}

.dashboard {
    background-color: white;
    padding: 20px 25px;
    border: 1px solid #EEEEEE;
}

.admin-side-menu {
    margin-top: 50px;

}

.comment {
    background-color: rgb(255, 255, 255);
    padding: 10px 0px 10px 20px;
    margin-bottom: 15px;
    border: 1px solid rgba(153, 153, 153, 0.39);
}

.comment-head {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}

.comment-date {
    float: right;
    font-size: 10px;
    font-weight: 300;
}

.post .post-container .post-footer .excerpt-footer {
    text-align: justify;
}

.post .post-container .post-footer .excerpt-footer:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
}

.widget-header > h6 {
    font-weight: 900 !important;
    color: #0f0f0f;
}

.banner {
    margin-bottom: 35px;
    padding-left: 15px;
    max-height: 660px;
}

.image-selector > .image-content {
    float: left;
    padding: 40px 0px 20px 20px;
}

.modal-body {
    display: table;
}