{% extends "base.html" %}
{% block content %}
<form id="checkout" method="post" action="/checkout">
  <div id="payment-form"></div>
  <input class="btn btn-black" type="submit" value="Pay {{total}}">
</form>

<script src="https://js.braintreegateway.com/js/braintree-2.24.1.min.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "{{client_token}}";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
{% endblock %}