{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
  <div class="response container">
    <div class="content">
      <div class="icon">
        <img src="/static/images/{{ result['icon'] }}.svg" alt="">
      </div>

      <h1>{{ result['header'] }}</h1>
      <section>
        <p>{{ result['message'] }}</p>
      </section>

      <section>
        <a class="button primary back" href="/checkouts/new">
          <span>Test Another Transaction</span>
        </a>
      </section>
    </div>
  </div>
</div>


{% endblock %}
