{% macro render_form(form) %}
{{form.hidden_tag()}}
{% for field in form if field.widget.input_type != 'hidden' %}
{% if field.flags.required %}
{% set _required= True %}
{% else %}
{% set _required= False %}
{% endif %}
<div class="form-group {% if field.errors %} has-error{% endif -%} ">
    {% if field.type == "BooleanField" %}
    <div class="checkbox">
        <label>
            {{field()|safe}} {{field.label.text|safe}}
        </label>
    </div>
    {% elif field.type == "SubmitField" %}
    {{field(class="btn btn-btn btn-black btn-block")}}
    {% else %}
    {{field.label | safe}}
    {{field(class="form-control", required= _required) | safe}}
    {% endif %}

    {% if field.errors %}
    <ul class=error>
        {% for error in field.errors %}
        <p class="error">{{error}}</p>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endfor %}
{% endmacro %}