{% extends "base.html" %}
{% block content %}
{% for i in pagination.items %}
<p>Product image</p>
{{i.image}}<br><br>
<p>Description</p>
{{i.description}}<br><br>
<p>Price</p>
{{i.price//1000}} $<br><br>
<a class="btn btn-black" href="{{url_for('main.product_detail',product_id= i.id)}}">Detail</a>
{% endfor %}
<div class="page text-center">
    <ul class="pagination">
        {% for p in pagination.iter_pages() %}
        {% if p %}
        {% if p == pagination.page %}
        <li class="active"><a href="#">{{ p }}</a></li>
        {% else %}
        {% if cat %}
        <li><a href="#">{{p}}</a></li>
        {% else %}
        <li><a href="{{url_for('main.index', page= p)}}">{{p}}</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!--{{url_for('main.category_post', id= cat.id, page=p)}}-->